### Data Encoding

1. Nomial/OHE Encoding
2. Label and Ordina Encoding
3. Target Guided Ordinal encoding

## Nominal/OHE Encoding
One hot encoding also know as nominal encoding is a technique used to represent categorical data as numerica data, which is moe suitable for machine learning algorithms. In ths technique, each category is represented as binary vector where each bit corresponds to unique category. For example if we have a categorical variable "color" with three possible vaues(red green, bleue) we cn represent it one encoding as folows:
1.Red: [1,0,0]
2.Green:[0,1,0]
3.Blue:[0,0,1]

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
## create a simple dataframe
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'blue', 'red']
})

In [5]:
df.head()

   color
0    red
1   blue
2  green
3   blue
4    red

In [6]:
## create the OneHotEncoder instance
encoder = OneHotEncoder()

In [7]:
## perform fit then transform
encoded=encoder.fit_transform(df[['color']]).toarray()

In [8]:
import pandas as pd
encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [9]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0
4         0.0          0.0        1.0

In [10]:
import seaborn as sns
tips= sns.load_dataset('tips')

In [13]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
encoder = OneHotEncoder()

In [14]:
encoded=encoder.fit_transform(tips[['sex','smoker','day','time']]).toarray()

In [15]:
import pandas as pd
encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [16]:
encoder_df

,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
239,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
241,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
242,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
243,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0