### Imbalanced data

1. Up sampling
2. Down samplingm

In [2]:
import numpy as np
import pandas as pd

# Set the random sed for reproductivity
np.random.seed(123)

#crete a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [4]:
## crete my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [5]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [6]:
df.head()

   feature_1  feature_2  target
0   0.914369   2.551302       0
1   2.997345   2.419589       0
2   2.282978   3.815652       0
3   0.493705   1.747250       0
4   1.421400   1.707996       0

In [7]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [8]:
#up sampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [9]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, # sample with replacement
        n_samples=len(df_majority),
        random_state=42
        )

In [10]:
df_minority_upsampled.shape

(900, 3)

In [11]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [12]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [14]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

Down sampling

In [15]:
## crete my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

df = pd.concat([class_0,class_1]).reset_index(drop=True)

# check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [16]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [17]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False,
        n_samples=len(df_minority),
        random_state=42
        )

In [18]:
df_majority_downsampled.shape

(100, 3)

In [19]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [20]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64