### Label Encoding

Label encoding and ordinal encoding are two techniques used to encode categorical data as numerical data. 

label encoding involved assigning  numerical abel to each category in the variable. The labels are usualy assigned in alphabetic order or based on the freqency of the categories. For example, if we have a categorical variabe "color" with three possible values(red,green,blue), we can represent it using label encoding as follows:
1. Red:1
2. Green:2
3. Blue:3

In [1]:
import pandas as pd
#from sklearn.preprocessing import OneHotEncoder

In [2]:
## create a simple dataframe
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'blue', 'red']
})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3   blue
4    red

In [4]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()

In [5]:
lbl_encoder.fit_transform(df[['color']])

e:\Complete-Data-Science-Machine-Learning-DL-NLP-Bootcamp\venv\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 0, 2])

In [6]:
lbl_encoder.fit_transform([['red']])

e:\Complete-Data-Science-Machine-Learning-DL-NLP-Bootcamp\venv\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0])

high school,college,graduate,postgraduate can be represented as follows

In [7]:
## Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder

In [8]:
# create a simple  df
df = pd.DataFrame({
    'size': ['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [9]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [10]:
## create an instance of OrdinalEncoder and the fit_transform the data
encoder=OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [ ]:
encoder.fit_transform(df[['size']])