In [1]:
import sqlite3

In [2]:
# connect to database
connect = sqlite3.connect("isaya.db")
connect

In [3]:
#create a cursor- cursor is a object which is used to execute sql commands

cursor = connect.cursor()

In [4]:
## create a table
cursor.execute('''
Create Table If Not Exists Diary(
    id Integer primary key,
    name Text Not Null,
    age Integer,
    date Date,
    venue Text,
    event Text
    )
''')

## commit the changes
connect.commit()

In [5]:
cursor.execute('''
Select * from Diary
''')

In [6]:
## Insert the data into the table
cursor.execute('''
Insert INTO Diary (name,age,date,venue,event)
VALUES ('Raj','25','2021-01-01','Noida','Python')
''')

cursor.execute('''
Insert INTO Diary (name,age,date,venue,event)
VALUES ('Rich','22','2021-01-01','Noida','Python')
''')

cursor.execute('''
Insert INTO Diary (name,age,date,venue,event)
VALUES ('Otis','22','2021-01-01','Noida','Python')
''')

cursor.execute('''
Insert INTO Diary (name,age,date,venue,event)
VALUES ('Isa','23','2021-01-01','Noida','Python')
''')

## connection.commit() method
connect.commit()

In [8]:
## query data from the table
cursor.execute("SELECT * FROM Diary")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Raj', 25, '2021-01-01', 'Noida', 'Python')
(2, 'Rich', 22, '2021-01-01', 'Noida', 'Python')
(3, 'Otis', 22, '2021-01-01', 'Noida', 'Python')
(4, 'Isa', 23, '2021-01-01', 'Noida', 'Python')

In [9]:
# update the data
cursor.execute('''
UPDATE Diary
Set age = 23
where name = "Otis" 
''')

connect.commit()

In [10]:
## query data from the table
cursor.execute("SELECT * FROM Diary")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Raj', 25, '2021-01-01', 'Noida', 'Python')
(2, 'Rich', 22, '2021-01-01', 'Noida', 'Python')
(3, 'Otis', 23, '2021-01-01', 'Noida', 'Python')
(4, 'Isa', 23, '2021-01-01', 'Noida', 'Python')

In [11]:
# Delete data from the table
cursor.execute('''
Delete from Diary
        where name = "Raj"
''')

connect.commit()

In [12]:
## query data from the table
cursor.execute("SELECT * FROM Diary")
rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Rich', 22, '2021-01-01', 'Noida', 'Python')
(3, 'Otis', 23, '2021-01-01', 'Noida', 'Python')
(4, 'Isa', 23, '2021-01-01', 'Noida', 'Python')

In [13]:
connect.close()