the map() function applies a given function to all items in an input list(or any iterable) and returns a map object(an iterator). This is particularily useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x

square(10)

100

In [3]:
numbers = [1, 2, 3, 4, 5,6,7,8]

map(square, numbers)

list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [4]:
## lambda function with map
numbers = [1, 2, 3, 4, 5,6,7,8]

list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
## can we map multiple iterables
numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x,y: x+y, numbers1, numbers2))

print(added_numbers)

[5, 7, 9]

In [6]:
## map() to conver a list of strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [7]:
words = ['hello', 'world', 'python']
upper_word = list(map(str.upper, words))
print(upper_word)

['HELLO', 'WORLD', 'PYTHON']

In [9]:
## apply to a list of dictionaries
def get_name(person):
    return person['name']

people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie', 'age': 35}
]

list(map(get_name, people))

['Alice', 'Bob', 'Charlie']